.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

.form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 10;
    border-bottom-left-radius: 10;
  }
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 10;
    border-top-right-radius: 10;
  }

.form-registration input {
    border-radius: 0;
}

.form-signin input[type="ID"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 10;
    border-bottom-left-radius: 10;
  }

.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 10;
    border-bottom-left-radius: 10;
  }
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 10;
    border-top-right-radius: 10;
  }